<script type="x/template" id="default-dropzone">
    <div class="row">
        <div class="col-12 col-md-6">
            <slot :getDataField="getDataField" :getFilteredDataField="getFilteredDataField" name="default-dropzone"></slot>
        </div>
    </div>
</script>