<script type="x/template" data-component="single-item">
    <div>
        <div class="single container-max page-content">
            <div class="row">
                <div class="col-12 col-md-6">
                    <slot :getDataField="getDataField" :getFilteredDataField="getFilteredDataField" name="default-dropzone"></slot>
                </div>
                <div class="col-12 col-md-6">
                    <slot :getDataField="getDataField" :getFilteredDataField="getFilteredDataField" name="second-dropzone"></slot>
                </div>
            </div>
        </div>
    </div>
</script>