@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat:wght@800&family=Quicksand&family=Montserrat&family=Nunito&family=Lato:wght@300&display=swap');

body {
    background-color: #FFFFFF!important;
    position: relative;
    min-height: 100vh;
    padding-bottom: 35rem;
}

.navbar a{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #1b1e21!important;
    background-color: #f8f9fa;
}
.main-navbar-collapsable .mainmenu > li:hover{
    background-color: #f8f9fa;
}
.mobile-navigation{
    background: #FFFFFF;
    color: black;
}
/*category page general styles*/
.categoriegrid{
    font-family: 'Lato', sans-serif!important;
}
/*align category title centered*/
.category-title{
    display: flex;
    justify-content: center;
    text-align: center;
}
/*subcategory styles*/
.image-box{
    display: block;
    position: relative;
    overflow: hidden;
}
.image-box > span {
    position: absolute;
    bottom: 10px;
    left: 0;
    padding: 9px 10px;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}
.bg-info{
    display: none!important;
}

/*breadcrumbs*/
.breadcrumbs{
    background-color: inherit!important;
}
.breadcrumbs nav.small{
    font-size: 20px;
}
.breadcrumbs nav a{
    text-decoration: none!important;
    color: #6c757d ;
}
.breadcrumbs ul.breadcrumb{
    background-color: inherit;
}
.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: ">";
}
/*circle background for icon*/
.circle-icon{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 30px;
    width: 30px;
    cursor: pointer;
    justify-content: center;
    color: #FFFFFF;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1;
    text-align: center;
    line-height: 30px;
    background-color: #eb5169;
    padding: 25px;
    box-shadow: 0 0 5px 0;
    border-radius: 50%;
}
/*item content under item image in category view*/
.cmp-product-thumb .thumb-content {
    display: inline-block;
    width: 100%;
    padding: 0 .8rem;
    vertical-align: top;
    background-color: #fff;
}
.widget .widget-text .widget-inner  h1{
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 5rem;
}
.card-img {
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}

.card-img > img {
    position:absolute;
    min-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
#card-widget.card:hover .card-image{
    opacity: 0;
}

#widget-card-body.card-body {
    position: absolute;
    /*top: 0;
    bottom: 0;
    left: 0;
    right: 0;*/
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #fdfeff;
}

#card-widget.card:hover .card-body {
    opacity: 1;

}

#widget-card-body.card-body a{
    display: none;
}

#card-widget.card:hover a{
    display: block;
    text-align: center;
    /*transform: translate(0%,150%);*/
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;

}

.jumbotron {
    font-family: 'Montserrat', sans-serif;
    background-color: #f7f0ea;
}
.instructions {
    background-color: #f7f0ea;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.design {
    background-color: white;
}

.design-example {
    font-family: 'Nunito', sans-serif;
}
.img-hover-zoom{
    /*height: 400px;*/
    overflow: hidden;
}

.img-hover-zoom img{
    transition: transform .5s ease;
}

.img-hover-zoom:hover img{
    transform: scale(1.1);
}
.figure-caption a{
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    color: black!important;

}
.design-button{
    background-color: #f7f0ea;
    font-family: 'Nunito', sans-serif;
}

#review-carousel.carousel-item{
    height: 100vh;
    background-size: cover;
    background-position: center center;
}
#review-carousel.carousel-caption{
    font-family: 'Montserrat', sans-serif;
    overflow: visible;
}
#review-carousel img{
    width: 100%;
}

#review-carousel blockquote .blockquote-footer{
    color: black;
    font-size: 20px;
}

/*#review-carousel.carousel-item h1 {
    margin: auto;
    color: white;
}
*/
/*Media queries*/
@media only screen and (min-width: 1199px) {
    #review-carousel.carousel-caption blockquote>p{
        font-size: 32px;
    }

}
@media only screen and (max-width: 991px) {

}
@media only screen and (max-width: 767px) {
    #review-carousel img {
        height: 300px;
    }

}
@media only screen and (max-width: 575px) {
    /*#review-carousel.carousel-caption p {
        font-size: 10px;
        margin-top: 0px;
    }*/
    #review-carousel img {
        height: 300px;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35rem;
    padding-top:30px;
    background-color:#292c2f!important;
    color: #fff!important;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 0px;
}
.footer h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:30px;
}
.footer p a{
    color: #fff!important;
}
.footer ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
}

.footer ul a {
    color: #fff!important;
    text-decoration:none;
    opacity:0.8;
}

.footer ul a:hover {
    opacity:1;
}

.footer .item.social {
    text-align:center;
    font-size:15px;

}

.footer i {
    color:#fff;
}